@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-offwhite0 text-black
}

::selection {
  @apply bg-azure
}

::-moz-selection {
	@apply bg-azure
}

input {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: groove;
}

.no-outline:focus {
  outline: none;
}

input {
  border-radius: 0;
}

input[type="search"] {
  -webkit-appearance: none;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

h1, h2, h3, h4 h5, h6 {
  @apply font-display font-medium
}

body, input, select, textarea, p {
  @apply font-body
}

img {
  @apply max-w-none
}

.cover-img {
  filter: grayscale(1);
  @apply transition ease-in-out delay-150
}

.default-cardbg {
  @apply bg-offwhite2 transition ease-in-out delay-150 hover:bg-offwhite3
}

.preview:hover .cardbg{
  @apply transition ease-in-out delay-150 text-white
}

.preview:hover .cardbg{
  background-color: #111626 !important;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 150ms;
}

.preview:hover .cover-img{
  filter: grayscale(0);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 150ms;
}

.preview:hover .pill2 {
  @apply transition ease-in-out delay-150 border-white text-white
}

/*
.checkered div:nth-child(even) .cardbg {
  @apply bg-offwhite2
}

.checkered div:nth-child(odd) .cardbg {
  @apply bg-offwhite2
}
*/

.navbutton{
  @apply bg-black text-white hover:text-azure md:py-4 duration-200 transition-all lg:mb-0 text-sm
}

.button {
  @apply bg-black hover:bg-azure hover:text-white text-white font-bold py-2 px-12 lg:px-8 duration-200 transition-all lg:mb-0 font-accent
}

.button2 {
  @apply bg-azure hover:bg-black hover:text-white text-white font-bold py-5 px-12 lg:px-8 duration-200 transition-all lg:mb-0 font-accent
}

.pill {
  @apply border-2 border-black bg-black text-white py-1 px-2 rounded-full w-max my-3 hover:border-azure hover:bg-azure font-accent
}

.pill2 {
  border-width: 1px;
  @apply border-black py-1 px-2 rounded-full w-max my-3 font-accent text-xs opacity-50
}

button[disabled] {
  cursor: not-allowed;
  @apply hover:bg-tomato w-full
}

button[disabled] .navbutton{
  cursor: not-allowed;
  @apply hover:text-tomato w-full
}

.in-box {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@media (min-width: 1100px) {
  .in-box h1 {
    font-size: 10vw;
  }

  .in-box h2 {
    font-size: 6vw;
  }

  .in-box h3 {
    font-size: 4vw;
  }

  .in-box p {
    font-size: 1.3vw;
  }
}

.valign{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.halign{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.hvalign{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.icon {
  @apply float-left w-16
}

.layout {
  border-width: 0.1px;
  @apply border-black w-full
}

.in-container {
  /*@apply rounded-xl*/
}

.black-border {
  border-width: 0.1px;
  @apply border-black
}

.square{
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.two-thirds{
  width: 100%;
  padding-top: 50%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.one-third {
  width: 100%;
  padding-top: 33.3333333%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.header {
  width: 100%;
  position: relative; /* If you want text inside of it */
  padding-top: 33.3333333%; /* 1:1 Aspect Ratio */
}

.full {
  width: 100%;
  padding-top: 33.33333%; /* 1:1 Aspect Ratio */
  position: relative; /* If you want text inside of it */
}

.res-hide {
  display: block;
}

.desc {
  display: block
}

@media (min-width: 1100px) {
  .res-hide {
    display: none;
  }
}

@media (min-width: 1100px) {
  .desc{
    display: none;
  }
}

/* GRID 1*/
.angry-grid {
  display: none; 
}

@media (min-width: 1100px) {
  .angry-grid {
    display: grid; 
  
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-areas: 
   'label0 label1 label2';
    
    gap: 0px;
    height: 100%;
    
  }
}
 
#item-0 {
  grid-area: label0;
  
}
#item-1 {
  grid-area: label1;
  
}
#item-2 {
  grid-area: label2;
  
}

/* GRID 2 */
.angry-grid2{
  display: none;
} 

@media (min-width: 1100px) {
  .angry-grid2 {
    display: grid; 

    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-areas: 
    'label3 label3 label3';
    
    gap: 0px;
    height: 100%;
    
  }
}  

#item-3 {
   grid-area: label3;
}

/* GRID 3 */
.angry-grid3 {
  display: none;
}
@media (min-width: 1100px) {
  .angry-grid3 {
    display: grid; 

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    
    grid-template-areas: 
  'label4 label4 label5'
  'label6 label7 label7';
    
    gap: 0px;
    height: 100%;
  
  }
}
 
#item-4 {
  grid-area: label4;
  
}
#item-5 {
  grid-area: label5;
  
}
#item-6 {
  grid-area: label6;
  
}
#item-7 {
  grid-area: label7;
  
}

/* GRID 4 */
.angry-grid4 {
  display: grid; 

  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  
  grid-template-areas: 
 'label8 label8 label9';
  
  gap: 0px;
  height: 100%;
  
}
 
#item-8 {
  grid-area: label8;
  
}
#item-9 {
  grid-area: label9;
  
}
